.f {
    width: 100%;
    max-width: 600px;
    text-align: center;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%; 
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid #4a1616;
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 10px; 
    padding: 10px; 
    font-size: 16px;
}

textarea {
    height: 90px; 
    resize: vertical; 
}

button[type="submit"] {
    background-color: #b08989;
    border: none;
    border-radius: 27px;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    height: 60px;
    width: 100%; 
    max-width: 300px; 
    margin: 20px auto; 
}
button:hover {
    background-color: #4a1616;
}

::placeholder {
    font-size: 14px;
    color: #aaa;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fnav{
    font-size: 20px;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;

}

footer {
    background-color: #b08989;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  footer nav {
    margin-bottom: 10px;
  }
  
  footer nav ul.fnav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer nav ul.fnav li {
    display: inline;
    margin-right: 15px;
  }
  
  footer nav ul.fnav li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer nav ul.fnav li a:hover {
    text-decoration: underline;
  }
  
  footer p {
    margin: 10px 0;
  }
  
  footer p a {
    color: #fff;
    text-decoration: none;
  }
  
  footer p a:hover {
    text-decoration: underline;
  }
  
  footer p strong {
    font-weight: bold;
  }
  
  footer p:last-child {
    font-size: 0.9em;
    color: #e8e2e2;
  }
  
  a{
    transition: all .2s ease-in-out;
}

a:hover{
    transform: scale(1.1);
}

button{
  transition: 0.5s;
  }
  
  button[type="button"]:hover {
      background-color: #4A1616;
      box-shadow: 2px 5px 10px #4A1616 ;
      border: #4A1616;
  }

  a{
    color: #000; 
    text-decoration: none; 
    transition: all .2s ease-in-out;
  }

a:hover{
    transform: scale(1.1);
    color: #b08989;
}


a {
    color: #000; 
    text-decoration: none; 
}



a:active {
    color: #4A1616; 
}





